.jumbotron {
  background: #ff6060;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #FE7373;
    border-color: #FE7373; }
    .jumbotron .btn-primary:hover {
      background: #ff9191; }
  .jumbotron p {
    color: #ff9191;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

